@import '@/assets/styles/fonts.scss';

:root {
  --satoshi: "Satoshi", sans-serif;
  --clash: "Clash Display", sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Satoshi', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input-text {
  display: block;
  height: 56px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 16px;
  border: none;
}